body {
	background: linear-gradient(to bottom, #bb54cf, #384ab3);
}

.topfoto {
	text-align: center;
	margin: 20px;
}

.texts {
	font-size: 18px;
}

.poga {
	background-color: #4d1e49;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}

table {
	margin: 20px auto;
	border-collapse: collapse;
	width: 80%;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #000000;
}

th {
	background-color: #824caf;
	color: rgb(0, 0, 0);
}

.des1 {
	text-align: center;
}

a:link, a:visited {
	color: #4d1e49;
	text-decoration: none;
}

a:hover, a:active {
	color: #b564c9;
	text-decoration: underline;
}